body > section > p,
body > section > span,
body > section > h2,
body > section > li {
  width: 50%;
  line-height: 150%;
  font-family: serif !important;
}

body > section > h2 {
  font-weight: bold;
}

body > section > li {
  list-style-type: disc;
  padding: 0.5rem;
  width: 100%;
}
